.table {
  width: 400px;
  text-align: left;
  border: 2px solid black;
  border-collapse: collapse;
}

th {
  width: 100px;
}

.hidden {
  visibility: hidden;
}

.row {
  border: 1px solid black;
}

.selected {
  background-color: aquamarine;
}
