.table {
  width: 400px;
  text-align: left;
  border-collapse: collapse;
}

th {
  width: 100px;
}

.header span {
  vertical-align: middle;
}

.row {
  border: 1px solid black;
}

.selected {
  background-color: aquamarine;
}

.hidden {
  visibility: hidden;
}
